<!DOCTYPE html>
<html>
<head>
  <title>Ooorest</title>
  <%= stylesheet_link_tag    "ooorest/application", :media => "all" %>
  <%= javascript_include_tag "ooorest/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
